div.centre {
  margin: auto;
  width: 65%;
}
div.centrewide {
    margin: auto;
    width: 100%;
}

h1.pagetitle {
  text-align: center;
}

#homelogin {
  float: right;
}

#createaccount {
  float: right;
}

.flashes {
  color: red;
  font-style: oblique;
}

.error {
  color: red;
  font-style: oblique;
}

.success {
  color: green;
  font-style: oblique;
}

h1.jumboheader {
  font-variant: small-caps;
  text-align: center;
}

p.jumbop {
  text-align: center;
}

a.jumbop {
  text-align: center;
}

img.cover {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 325px; /*set since users could send different
  size pictures which could mess up the layout*/
  max-width: 100%;
}

h2.title {
  text-align: center;
  overflow-wrap: break-word;
  font-variant: small-caps;
  font-size: 3rem;
}

h3.author {
  text-align: center;
  overflow-wrap: break-word;
  text-transform: capitalize;
}

div.complete {
  border-style: solid;
  padding: 10px;
  /*margin-right: 2.5%;
  margin-left: 2.5%;
  width: 45%;*/
  position: relative;
  margin-bottom: 15px;
}

div.col-lg-4.neutral {
  border-style: dotted;
  padding: 10px;
  /*margin-right: 4.15%;
  margin-left: 4.15%;*/
  /*margin-right: 2.5%;
  margin-left: 2.5%;
  max-width: 45%;*/
  position: relative;
  margin-bottom: 15px;
}

div.col-lg-4.liked {
  border-style: solid;
  border-color: green;
  padding: 10px;
  /*margin-right: 4.15%;
  margin-left: 4.15%;*/
  /*margin-right: 2.5%;
  margin-left: 2.5%;
  max-width: 45%;*/
  position: relative;
  margin-bottom: 15px;
}

div.col-lg-4.unliked {
  border-style: solid;
  border-color: red;
  padding: 10px;
  /*margin-right: 4.15%;
  margin-left: 4.15%;*/
  /*margin-right: 2.5%;
  margin-left: 2.5%;
  max-width: 45%;*/
  position: relative;
  margin-bottom: 15px;
}

/*for the smaller sizes*/
div.col-md-10.neutral {
  border-style: dotted;
  padding: 10px;
  /*margin-right: 2.08%;
  margin-left: 2.08%;*/
  /*margin-right: 2.5%;
  margin-left: 2.5%;
  max-width: 45%;*/
  position: relative;
  margin-bottom: 15px;
}

div.col-md-10.liked {
  border-style: solid;
  border-color: green;
  padding: 10px;
  /*margin-right: 2.08%;
  margin-left: 2.08%;*/
  /*margin-right: 2.5%;
  margin-left: 2.5%;
  max-width: 45%;*/
  position: relative;
  margin-bottom: 15px;
}

div.col-md-10.unliked {
  border-style: solid;
  border-color: red;
  padding: 10px;
  /*margin-right: 2.08%;
  margin-left: 2.08%;*/
  /*margin-right: 2.5%;
  margin-left: 2.5%;
  max-width: 45%;*/
  position: relative;
  margin-bottom: 15px;
}

div.extraInfo {
  text-transform: capitalize;
}

div.markread {
  position: relative;
}

a.btn-success.done {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

div.uploadbutton {
  height: 35px;
  position: relative;
}

a.btn-primary {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 1.5%;
  line-height: 2;
}

i.by {
  text-transform: lowercase;
}

a.btn-outline-success.profile {
  position: absolute;
  bottom: 1%;
  right: calc(1% + 50px);
}

a.btn-outline-danger.profile {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

#submitnewbook {
  margin-bottom: 10px;
}

a.btn-info.btn-lg {
  font-size: 1rem;
}

input#hide {
  width: 24px;
  height: 24px;
}

div.checkbox label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}

div.checkbox input {
  vertical-align: middle;
}

div.checkbox label span {
  vertical-align: middle;
}

div.jumbotron {
  opacity: 0;
}

a.btn-info.btn-lg.newpass {
  margin-right: 10px;
}

a.btn-info.btn-lg.logout {
  background-color: #bd2130;
  border-color: #b21f2d
}

b.upvotes {
  color: green;
}

b.downvotes {
  color: red;
}
