{% extends "base.html" %}
{% block content %}
<div class="centre"> <!-- used to centre divs -->
  <h1 class="pagetitle">Select a country</h1><br>
  <div>
    <form action="/findLeague" method="post" name="">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <h2>Country</h2><br>
          <div class="input-group">
             {{ form.country (class_="form-control", placeholder="enter country name")}}
           </div>
           <br>
           <p>Please choose from England, Germany or Spain</p>
        </div>
        <div><input type="submit" value="Login" class="btn btn-success float-right" ></div>
    </form>
  </div>
</div>
{% endblock %}
