{% extends "base.html" %}
{% block content %}
<div class="centre"> <!-- used to centre divs -->
  <h1 class="pagetitle">Create account</h1><br>
  <div>
    <form action="/create" method="post" name="">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <h2>Please enter a username</h2><br>
           <div>{{ form.username (class_="form-control", placeholder="enter username")}}</div><br>
        </div>
        <div class="form-group">
          <br>
          <h2>Please enter a password</h2><br>
          <div>
            {{ form.password (class_="form-control", placeholder="enter password")}}</div><br>
            <div class="checkbox">
              <label for="x"><input onclick="changePwdView()" type="checkbox" name="hide" id="hide"><span> show password</span></label>
            </div>
        </div>
        <div class="form-group">
          <br>
          <h2>Please re-enter your password</h2><br>
          <div>
            {{ form.password2 (class_="form-control", placeholder="re-enter password")}}</div><br>
            <div class="checkbox">
              <label for="x"><input onclick="changePwdView2()" type="checkbox" name="hide" id="hide"><span> show password</span></label>
            </div>
        </div>
        <div>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <p class="{{category}}">{{ message }}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <div><input type="submit" value="Create Account" class="btn btn-success float-right"></div>
    </form>
  </div>
</div>
{% endblock %}
